.DS_Store
/.vs
__pycache__/
cifar/
data/
files/
mnist_models/
resnet_models/
.idea/
.logs.out.swp
__pycache__/
batch.sh
data/
exp_sample/
exp_sample_300_retrained/
r10_models_ensembled/
cifar_models/
./logs.out
